
div {
    font-family: 'Courier', Courier, monospace;
}

.relativa1 {
    width: 30%;
    height: 20vh; /* 20% del alto de la ventana del navegador */
    background-color: rgb(87, 2, 2);
    color: white;
    text-align: center;
    line-height: 20vh;
    margin: 10px;
}

.relativa2 {
    width: 50%;
    height: 25vw; /* 25% del ancho de la ventana del navegador */
    background-color: rgb(22, 1, 54);
    color: white;
    text-align: center;
    line-height: 25vw;
    margin: 10px;
}

.relativa3 {
    width: 15em; /* 15 veces el tamaño de la fuente del elemento */
    height: 10rem; /* 10 veces el tamaño de la fuente raíz (en html) */
    background-color: rgb(63, 5, 75);
    color: white;
    text-align: center;
    line-height: 10rem;
    margin: 10px;
}
