
.first {
    color: rgb(183, 201, 22);
    background-color: rgb(211, 211, 211); 
}

.second {
    color: rgb(16, 192, 125);
    background-color: rgb(100%, 100%, 50%); 
}

.third {
    color: rgb(196, 19, 19);
    background-color: rgb(255, 182, 193); 
}
