@import 'variables';
@import 'mixins';
@import 'functions';

.container {
  margin: 0 auto;
  padding: 20px;

  .header {
    background-color: $primary-color;
    color: white;

    h1 {
      font-size: rem(24); // Cambiado de rem(24px) a rem(24)
    }
  }

  .content {
    margin-top: 20px;

    p {
      font-size: rem(16);
      color: $secondary-color;
    }
  }
}
