.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-img-top {
        max-height: 200px;
        object-fit: cover;
    }

    .card-body {
        text-align: center;

        .btn-outline-danger,
        .btn-outline-primary {
            width: 40px;
            height: 40px;
            font-size: 18px;
        }

        .bi-heart,
        .bi-cart {
            font-size: 1.2rem;
        }
    }
}

.container {
    max-width: 100%;

}

.row .col-md-4 {
    max-width: 33.3333%;
}

.general-margin {
    margin: 5%;
}

.nav-link {
    border-radius: 10px;
    margin: 10px;
}

.nav-link:hover {
    background-color: darkgrey;
}

.carousel {
    max-width: 70%;
    margin-left: 13%;
}

.img-product {
    width: 90%;
}

@media (max-width: 765px) {
    .img-product {
        width: 80%;
    }
}


@media (max-width: 480px) {
    .row .formatter {
        margin: 10%;
        max-width: 80%;
    }
}