$general-color: #305acc;
$title-color: #c73e3e;
$text-color: #333;
$font-family: 'Arial', sans-serif;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: $font-family;
    color: $text-color;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: $general-color;
    color: white;
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; // Cambiado a space-around para centrar
        align-items: center; // Asegúrate de que los elementos estén alineados verticalmente

        ul {
            list-style-type: none;
            padding: 0;
            display: flex; 
            margin-left: 12%;
            li {
                margin: 0 1%;
                width: 150px;
                a {
                    color: white;
                    text-decoration: none;
                    border-radius: 5px;                    
                    padding: 5%;                    
                    &:hover {
                        background-color: white;
                        opacity: 0.9;    
                        color: $text-color;
                    }
                }
            }
        }
    }
}


main {
    padding: 5%;

    section {
        margin-bottom: 5%;

        h2 {
            color: $title-color;
        }
    }
}

footer {
    background-color: $general-color;
    color: white;
    text-align: center;
    text-align:center;
    bottom:0;
    left:0;
    position: fixed;
    width: 100%;
    padding: 3%;

}

footer {
    p {
        margin: 0;
    }
}
